.about-intro h1 {
  font-size: 2.5rem;
  color: #1f509a;
  margin-bottom: 1rem;
}

.about-intro p {
  font-size: 1.2rem;
  color: #0a3981;
  margin-bottom: 1rem;
}

/* Team Section */
.team-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.team-column {
  width: 300px;
  position: relative;
}

.team-photo-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.team-photo-wrapper:hover {
  transform: scale(1.05);
}

.team-photo {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.team-photo-wrapper:hover .team-hover {
  opacity: 1;
}

.team-hover h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-hover p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.hover-button {
  background-color: #e38e49;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.hover-button:hover {
  background-color: #d4ebf8;
  color: #0a3981;
}

/* Divider Line */
.divider-line1 {
  margin: 0;
  height: 5px;
  background-color: #e38e49;
  width: 100%;
}

.divider-line {
  margin: 2rem 0;
  height: 5px;
  background-color: #1f509a;
  width: 100%;
}

/* Footer */
.about-footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #0a3981;
  line-height: 1.5;
  text-align: justify;
}

.about-footer p {
  margin: 0.5rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .team-section {
    flex-direction: column;
    align-items: center;
  }

  .team-column {
    width: 50%;
  }
}
