.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem;

  background: #AEE9FF;
  color: #002194;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0.5, 0.5, 0.5);
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 60px;
  height: 60px;
  margin-right: 0.5rem;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li a {
  color: #002194;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-links li a:hover {
  text-decoration: underline;
}
